@import '../../style/colors.scss';

.main {
  padding: 1rem;
  width: 50%;
  min-width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .item {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    border-radius: 0.2rem;

    .title {
      font-weight: 600;
    }

    .password {
      white-space: nowrap;
      cursor: pointer;
      overflow-x: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .main {
    .item {
      .password {
        font-size: 0.8rem;
      }


    }
  }
}